include run_tests.sh ChangeLog
include README.rst builddeb.sh
include MANIFEST.in pylintrc
include AUTHORS
include run_tests.py
include HACKING.rst
include LICENSE
include ChangeLog
include babel.cfg tox.ini
include openstack-common.conf
include glance/openstack/common/README
include glance/db/sqlalchemy/migrate_repo/README
include glance/db/sqlalchemy/migrate_repo/migrate.cfg
include glance/db/sqlalchemy/migrate_repo/versions/*.sql
include etc/setup-scripts/*
include etc/glance-registry
include etc/glance-api
include etc/glance-scrubber
graft doc
graft etc
graft glance/locale
graft glance/tests
graft tools
global-exclude *.pyc
